<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <form action="/resetpassword/<%= token %>" method="post">
      <input name="newpassword" id="newpassword" type="text" placeholder="New Password">
      <button type="submit">Reset</button>
    </form>
  </div>
</body>
</script>
</html>
